<header class="sticky top-0 flex flex-col xl:flex-row flex-wrap justify-center items-center py-2 md:py-5 xl:mx-1 xl:w-[1100px] mx-auto z-10">
	<nav class="flex gap-2 md:gap-3 xl:gap-10 opacity-80 xl:mx-1 bg-white dark:bg-gray-800 py-1 md:py-2 px-2 md:px-3 rounded-full">
		<div class="sm:hidden">
			<button class="navbar-burger text-blue-600 p-3">
				<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 6l16 0" />
                    <path d="M4 12l16 0" />
                    <path d="M4 18l16 0" />
                  </svg>
			</button>
		</div>
		<ul class="hidden sm:mx-auto sm:flex sm:items-center sm:w-auto sm:space-x-6 gap-x-4">
		<a class="hover:bg-[#16FF00]/10 rounded-full px-2 md:px-3 transition text-ms md:text-base" href="#top">Inicio</a>
        <a class="hover:bg-[#16FF00]/10 rounded-full px-2 md:px-3 transition text-ms md:text-base" href="#experiencia">Experiencia</a>
        <a class="hover:bg-[#16FF00]/10 rounded-full px-2 md:px-3 transition text-ms md:text-base" href="#proyectos">Proyectos</a>
        <a class="hover:bg-[#16FF00]/10 rounded-full px-2 md:px-3 transition text-ms md:text-base" href="#habilidades">Habilidades</a>
		<a class="hover:bg-[#16FF00]/10 rounded-full px-2 md:px-3 transition text-ms md:text-base" href="#contacto">Contacto</a>
		</ul>
	</nav>
	<div class="navbar-menu relative z-50 hidden ">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto ">
			<div class="flex items-center mb-8">
				<a class="mr-auto text-3xl font-bold leading-none" href="#">
	              <h1 class="text-cyan-700">AngelDev</h1>
				</a>
				<button class="navbar-close">
					<svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div>
				<ul>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#top">Inicio</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#experiencia">Experiencia</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#proyectos">Proyectos</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#habilidades">Habilidades</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#contacto">Contacto</a>
					</li>
				</ul>
			</div>
			<div class="mt-auto">
				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright © 2024</span>
				</p>
			</div>
		</nav>
	</div>
</header>
<script>
// Burger menus
document.addEventListener('DOMContentLoaded', function() {
    // open
    const burger = document.querySelectorAll('.navbar-burger');
    const menu = document.querySelectorAll('.navbar-menu');

    if (burger.length && menu.length) {
        for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    // close
    const close = document.querySelectorAll('.navbar-close');
    const backdrop = document.querySelectorAll('.navbar-backdrop');

    if (close.length) {
        for (var i = 0; i < close.length; i++) {
            close[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    if (backdrop.length) {
        for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }
});
</script>

